
doctype html
html(lang='en')
  head
    title WebRTC Audio Chat
    link(rel='stylesheet', href='/public/style.css')
  body
    header
      h1 WebRTC Audio Chat
    main
      input#room(type='text', placeholder='Enter room name')
      input#nickname(type='text', placeholder='Enter your nickname')
      button#join Join Room
      ul#members
      div#controls
    script(defer, src="https://cdn.socket.io/4.6.0/socket.io.min.js", integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+", crossorigin="anonymous")
    script(defer, src="/public/app.js")
